* {
    color: white;
}
body { 
    background-color: #c2c2d6;
}
#clear {
    background-color: rgb(172, 57, 57);
}
#equals {
    background-color: rgb(0, 68, 102);
}
#decimal, .operator{
    background-color: rgb(102, 102, 102);
}
.number {
    background-color: #4d4d4d;
}
input {
    color: orange;
}
output, input {
    background-color: black;
}